
@media (max-width: 1199px) {
	.container {
	    max-width: 960px;
	}

	.megamenu-content a {
	    padding: 23px 25px;
	}

	.slick-slidershow .slick-prev {
	    left: 15px;
	}
	.slick-slidershow .slick-next {
	    right: 15px;
	}

	.art-feedbacks-videos iframe {
		width: 290px;
		height: 170px;
	}

	.features-content {
	    margin: 0 -15px;
	}
	.features-content .item {
	    padding: 0 15px;
	}

	.title-footer .title {
		padding-right: 0;
		padding-top: 0;
	}

	.back-to-top {
		bottom: 15px;
		right: 15px;
	}

	.art-contacts .socials-list li {
	    margin-right: 36px;
	}

	.title-product-description .title-tab li {
	    margin-right: 25px;
	}

	.product-detail-content,
	.product-detail-images {
		max-width: 50%;
	}
	.summary-content a {
		margin-left: 60%;
	}
}

@media (max-width: 991px) {
	.container {
	    max-width: 720px;
	}

	.title-tab li {
	    margin-right: 5px;
	}
	.title-tab a {
	    padding: 10px 15px;
	}

	.groups-box, .header-top ul, .header-top ul li {
		justify-content: center;
	}
	.header-top ul {
		margin-bottom: 20px;
	}

	.header-main {
		padding: 10px 0;
	}
	.header-main .groups-box {
		justify-content: flex-end;
	}

	.searchs-box {
		margin-right: 50px;
		position: relative;
	}
	.searchs-title .btn {
		position: initial !important;
		font-size: 26px;
	}
	.searchs-content {
	    position: absolute;
	    top: calc(100% + 15px);
	    right: 0;
	    z-index: 9999;
	    display: none;
	}

	.menu-open span,
	.menu-open span:before,
	.menu-open span:after {
		background-color: #222;
	}
	.close {
		color: #222;
	}
	.megamenu-content {
		display: block;
	}
	.megamenu-content a {
	    padding: 10px 25px;
	    display: block;
	}
	.menu-content {
		max-width: 300px;
		transform: translateY(0);
		transform: translateX(-100%);
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	.menu-content.active {
		transform: translateX(0);
	}
	.megamenu-mobile-content .title {
		padding: 50px 25px 30px;
	}
	.megamenu-mobile-content .title:after {
		display: none;
	}
	.megamenu-mobile-content .searchs-box {
	    margin-right: 0;
	}
	.megamenu-mobile-content .searchs-content {
		position: initial;
		display: block;
		padding: 0 25px;
	}
	.megamenu-mobile-content .searchs-box input {
		width: 100%;
	}

	.banner-image img {
		max-width: 100% !important;
		max-height: 100% !important;
	}
	.banners-box-3 {
		margin-top: 15px;
	}

	.categories-content {
		margin: -15px;
	}
	.categories-content .item {
		margin-right: 0;
		width: 20%;
		padding: 15px;
	}

	.art-feedbacks-videos iframe {
		width: 330px;
		height: 192px;
	}

	.features-content {
		flex-wrap: wrap;
		margin: -15px 0;
	}
	.features-content .item {
		width: 100%;
		padding: 15px 0;
	}

	.title-sidebar .title {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title-sidebar .title:after {
		content: '+';
		font-size: 22px;
		font-weight: 700;
		display: inline-block;
		width: auto;
		height: auto;
		background: none;
		position: initial;
		transform: translateX(0);
	}
	.title-sidebar.active .title:after {
		content: '-';
	}

	.searchs-box .content-sidebar {
		display: block !important;
		position: initial;
	}
	.title-sidebar-searchs .title:after {
		display: none;
	}

	.art-sidebar-searchs .searchs-box {
		margin-right: 0;
	}

	.page-404-site h1 {
		font-size: 250px;
	}
	.page-404-site h2 {
		font-size: 30px;
	}
	.page-404-site h3 {
		font-size: 16px;
	}

	.art-contacts .contacts-box,
	.art-contacts .title-contacts,
	.art-contacts .address-box,
	.art-contacts .socials-box {
		max-width: 100%;
	}
	.art-contacts .contacts-box {
		margin-top: 30px;
	}

	.product-detail-content {
		max-width: 100%;
	}
	.product-detail-images {
		max-width: 590px;
		margin: 0 auto 25px;
	}

	.title-product-description .title-tab a {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.container {
	    max-width: 540px;
	}

	.title-tab ul {
		flex-wrap: wrap;
		margin: -5px;
	}
	.title-tab li {
		width: 50%;
		margin-right: 0;
		padding: 5px;
	}
	.title-tab a {
		display: block;
	}

	.slick-slidershow .slick-arrow {
	    font-size: 60px;
	}

	.blog-image img,
	.feedbacks-content img {
		max-width: 100% !important;
		max-height: 100% !important;
	}

	.art-feedbacks-videos iframe {
	    width: 510px;
	    height: 297px;
	}

	.footer-menu .content {
	    margin-top: 25px;
	}
	.footer-menu-2 .content {
	    margin-top: 0;
	}

	.shop-content .item {
		width: 50%;
	}

	.blogs-list-content .item {
		width: 100%;
	}

	.title-product-description .title-tab li {
		margin-right: 0;
		text-align: left;
	}
}

@media (max-width: 575px) {
	.title {
	    font-size: 24px;
	}

	.title-tab li {
		width: 100%;
	}

	.header-top ul {
		margin-bottom: 0;
	}
	.header-top ul li {
	    margin-right: 0;
	    margin-bottom: 15px;
	}
	
	.searchs-content {
		right: -50px;
	}

	.slick-slidershow .slick-arrow {
	    font-size: 60px;
	}

	.countdowns-box > div {
		margin-right: 15px;
	}

	.categories-content .item {
		width: 50%;
	}

	.art-feedbacks-videos iframe {
	    width: 100%;
	    height: 100%;
	}

	.shop-content .item {
		width: 100%;
	}

	.art-comments iframe {
		width: 100% !important;
	}

	.page-404-site h1 {
	    font-size: 130px;
	}
	.page-404-site h2 {
	    font-size: 22px;
	}
	.page-404-site h3 {
	    font-size: 12px;
	}
	.page-404-site .btn {
	    padding: 12px 20px;
	    font-size: 15px;
	}

	.art-contacts a, .art-contacts {
		font-size: 14px;
	}
	.address-box li {
	    margin-bottom: 0;
	}
	.art-contacts .socials-list li {
	    margin-right: 16px;
	}
	.art-contacts .socials-list a {
	    width: 60px;
	    height: 60px;
	}
	.art-contacts .contacts-box {
	    padding: 30px 15px;
	}
}
