
@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.eot");
  src: url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
  /*url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.otf") format("opentype"),*/
  url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.svg") format("svg"),
  url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.ttf") format("truetype"),
  url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.woff") format("woff"),
  url("../fonts/Helvetica-Neue/Light/HelveticaNeue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.eot");
  src: url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
  /*url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.otf") format("opentype"),*/
  url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.svg") format("svg"),
  url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.ttf") format("truetype"),
  url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.woff") format("woff"),
  url("../fonts/Helvetica-Neue/Regular/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.eot");
  src: url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
  /*url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.otf") format("opentype"),*/
  url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.svg") format("svg"),
  url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.ttf") format("truetype"),
  url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.woff") format("woff"),
  url("../fonts/Helvetica-Neue/Medium/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}