
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 639px) {
	.container {
		max-width: 100%;
	}

	.art-content {
		padding: 0;
	}

	.art-endow .content-box {
	    padding: 40px 15px 45px;
	}
}

@media (max-width: 575px) {
	.art-header .title,
	.art-endow .title {
		font-size: 24px;
	}
	.art-header .title {
		bottom: 5px;
	}
	.art-header .art-content-box .item {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #ebebeb;
	}
	.art-header .art-content-box .item:last-child {
		border-bottom: none;
	}

	.art-endow .art-content-box .item {
		width: 100%;
	}

	.art-banner .art-content {
		padding: 30px 0;
	}
	.art-banner-2 .row {
		flex-direction: column-reverse;
	}
}